.list-group-item {
  width: 100%;
  text-align: center;
  top: 50%;
  color: #004466;
  font-weight: 500;
}

.btn-info {
  width: 100%;
  font-size: 20px;
}

.container {
  font-family: "Georgia Header";
  font-size: 20px;
}
