<ng-container>
    <div class="container">
      <button type="button" class="btn btn-info" (click)="navigateBack()">Go Back</button>
      <div class="task_detail">
        <li class="list-group-item">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">{{taskList.id}}</li>
            <li class="list-group-item">{{taskList.name}}</li>
          </ul>
        </li>
      </div>
      <div class="update_list">
        <li class="list-group-item">
          <ul class="list-group list-group-horizontal">
            <li class="list-group-item">
              <input type="text" class="form-control" [(ngModel)]="taskList.name">
            </li>
            <li class="list-group-item">
              <button type="button" class="btn btn-warning btn-sm" (click)="updateTasksLists(taskList)">Update</button>
            </li>
            <li class="list-group-item">
              <button type="button" class="btn btn-danger btn-sm" (click)="deleteTaskList()">Delete</button>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </ng-container>
